@font-face {
  font-family: "Rubik";
  src: url(../fonts/Rubik-Regular.woff);
}

@font-face {
  font-family: "Nobile";
  src: url(../fonts/Nobile-Regular.woff);
}

:root {
  --bg-color: #000000;
  --text-color: #ffffff;

  --color-theme-slider: rgb(194, 194, 194);

  --default-padding: 20px;
  --primary-color-dark: #ffffff;
  --primary-color-light: #003135;

  --secondary-color: #024950;
  --tertiary-color: #964734;
  --quaternary-color: #0fa4af;
  --quinary-color: #afdde5;

  --skills-bg-color: #46474783;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  font-family: "Rubik", "Nobile";
}

body {
  margin: 0;
  margin: auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--bg-color);
  color: var(--text-color);
}

header,
main {
  padding: var(--default-padding);
}

main {
  width: 85%;
  margin: auto;
  max-width: 1250px;
  flex: 1;
  padding-top: 0;
}

a:link,
a:after,
a:visited {
  text-decoration: none;
  color: var(--text-color);
}

footer {
  background: var(--tertiary-color);
  text-align: center;
}

header {
  display: flex;
  justify-content: space-between;
}

header span,
#color-theme-btn,
.fa-bars {
  align-content: center;
}

.header-main {
  color: var(--tertiary-color);
}

#color-theme-btn {
  width: 30px;
  height: 30px;
  cursor: pointer;
  text-align: center;
  background-color: var(--bg-color);
  color: var(--text-color);
  border: none;
  border-radius: 5px;
}

#color-theme-btn:hover {
  background-color: #d3d3d34d;
}

#main-bio {
  width: 90%;
  margin: auto;
  text-align: center;
}

nav {
  display: none;
  position: absolute;
  right: 50px;
}

nav ul {
  height: 100vh;
}

nav ul,
#contact ul {
  list-style: none;
}

#skills-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  justify-content: center;
  grid-gap: 20px;
}

.skills-item {
  width: 100%;
  height: 75px;
  background-color: var(--skills-bg-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 0.7rem;
  border-radius: 10px;
}

#contact ul {
  display: flex;
  justify-content: space-evenly;
}
