@font-face {
  font-family: "Rubik";
  src: url(../fonts/Rubik-Regular.woff);
}

@font-face {
  font-family: "Nobile";
  src: url(../fonts/Nobile-Regular.woff);
}

:root {
  --bg-color: #000000;
  --text-color: #ffffff;

  --color-theme-slider: rgb(194, 194, 194);

  --default-padding: 20px;
  --primary-color-dark: #ffffff;
  --primary-color-light: #003135;

  --secondary-color: #024950;
  --tertiary-color: #964734;
  --quaternary-color: #0fa4af;
  --quinary-color: #afdde5;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  font-family: "Rubik", "Nobile";
}

body {
  margin: 0;
  margin: auto;
  height: 100vh;

  display: flex;
  flex-direction: column;

  background-color: var(--bg-color);
  color: var(--text-color);
}

header,
main {
  padding: var(--default-padding);
}

main {
  flex: 3;
}

footer {
  background: var(--quinary-color);
}

footer {
  text-align: center;
}

.header-main {
  color: var(--tertiary-color);
}

#color-theme-btn {
  width: 30px;
  height: 30px;
  cursor: pointer;

  text-align: center;
  align-items: center;

  background-color: var(--bg-color);
  color: var(--text-color);

  border: none;
}

#color-theme-btn:hover {
  background-color: #d3d3d34d;
}

#main-bio {
  width: 90%;
  margin: auto;
}

nav ul,
#contact ul {
  list-style: none;
}

#contact ul {
  display: flex;
  justify-content: space-evenly;
}
